<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YButtonsView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2CA9A6D1E348F1700EBDBF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2CA9A861E348F1800EBDBF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2CA9A911E348F1800EBDBF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
